body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*Sidebar*/

.wrapper{
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar{
    min-width: 250px;
    max-width: 250px;
    background: #57585a;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .active{
    margin-left: -250px;
}
#sidebar .sidebar-header{
    padding: 20px;
    background: #a7abbd;
}
#sidebar ul.components{
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p{
    color: #fff;
    padding: 10px;
}

#sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover{
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="ture"]{
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}
ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* Content */

#content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* Profile Section */

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

/* Search Button */

.search-box{
    background: #2f3640;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: #2f3640;
    float: right;
}
.search-btn{
    color: white;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}
/* Media */

@media (max-width: 992px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
      }
}